# Redis Settings
REDIS_HOST=redis_tests
REDIS_PORT=6379

# Postgres Settings
REDIS_HOST=postgres
REDIS_PORT=5432

POSTGRES_DB=users_db
POSTGRES_USER=app
POSTGRES_PASSWORD=12345

# App Settings
SERVICE_URL=http://app_tests:5000
